* {
  margin: 0;
  padding: 0;
}

.py-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
}

.customers_accountForm {
  max-width: 620px;
  margin: 0 auto 50px;
  background: #ffffff;
  padding: 25px 30px 30px;
}

.customers_accountForm input:focus {
  background: #fff;
  border-color: #ededed;
}

.sitebox-recaptcha {
  margin-bottom: 25px;
}

.layout-account .header-page h1 {
  position: relative;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 20px;
  line-height: initial;
  text-transform: uppercase;
}

.customers_accountForm .action_bottom .btn-signin {
  color: #fff;
  display: inline-block;
  border-radius: 0;
  padding: 0 30px;
  height: 45px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 600;
  background: #000;
  cursor: pointer;
  border: 1px solid #000;
  font-size: 14px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.customers_accountForm .large_form {
  margin-bottom: 25px;
}

.customers_accountForm input {
  width: 100%;
  height: 55px;
  padding: 5px 20px;
  color: #5c5c5c;
  font-weight: 500;
  border: 1px solid transparent;
  background: #ededed;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.custommer_account_action .req_pass {
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}

.custommer_account_action .action_bottom {
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}

.custommer_account_action {
  text-align: center;
}

@media (max-width: 991px) {
  .customers_accountForm input {
    width: 90%;
  }
}
