ul {
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

label {
  color: #616087;
}

input:focus-visible {
  outline: none;
}

h1 {
  font-size: 24px !important;
}

a:hover {
  text-decoration: none !important;
}

.py-5 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}

.product-loop .product-click-options > * {
  transition: none;
  padding: 5px 15px;
  width: 100%;
  display: block;
  line-height: 1;
  cursor: pointer;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

h2 {
  margin-top: 10px !important;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

h4 {
  color: #616087 !important;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.align-items-center {
  align-items: center !important;
}

.w-70 {
  width: 70%;
  margin: auto;
}

.w-90 {
  width: 90%;
  margin: auto;
}

.w-95 {
  width: 95%;
  margin: auto;
}

q {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.header-main {
  background: #fbf7f0;
}

.header-top-bar {
  position: relative;
  background: #fbf7f0;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-main-left {
  width: 40.333%;
}

.header-banner-full img {
  width: 100%;
}

.header-main-mid {
  width: 16.667%;
}

.header-main-right {
  width: 43%;
  margin-left: auto;
  padding-right: 30px;
}

.header-top-nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 0;
  align-items: center;
}

.header-top-nav img {
  width: 40px;
}

.menu-icon {
  display: none;
}

.header-sidebar-left {
  position: absolute;
  top: 40%;
  left: 10%;
}

.sidebar-menu li span {
  color: #5c5c5c;
  text-decoration: none;
}

.sidebar-menu li a:hover {
  text-decoration: none;
}

.header-sidebar-left .sidebar-menu:hover li a span {
  color: #fbf7f0;
}

/* .sidebar-menu:hover {
  background-color: #5c5c5c;
} */

.sidebar-menu li {
  padding: 8px 8px 0 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
}

.header-banner .header-sidebar-left .sidebar-menu:hover {
  background: rgba(97, 96, 135, 0.5);
}

.header-banner .header-sidebar-left .sidebar-menu:hover li a {
  color: #fbf7f0;
}

.header-bot-bar {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
}

.header-bot-nav {
  background: #fbf7f0;
  font-size: 18px;
  /* max-width: 1440px; */
  margin: 0 auto;
}

.header-list-lv1 a::after {
  content: "";
  height: 5px;
  width: 0;
  top: 2rem;
  background: #edb6ab;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.header-list-lv1 a:hover::after {
  width: 100%;
}

.header-bot-nav .header-list-lv1 {
  width: 89%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1440px;
}

.header-list-lv1 li a {
  color: #edb6ab;
  text-decoration: none;
  position: relative;
  font-weight: 600;
}

.section-barcode .banner img {
  height: 17rem;
  position: relative;
  right: 4rem;
}

i.arrow {
  display: inline-block;
  position: relative;
  bottom: 20px;
  left: -2%;
  -webkit-animation: pulse 1s infinite;
  animation: pulse 2s infinite;
}

.section-barcode i.arrow svg {
  width: 30px;
  height: 30px;
}

.section-bg-scroll {
  background-image: url(https://file.hstatic.net/200000377411/file/banner1_7c09d7ad1c714336bf9487123a68a29f.jpg);
  background-attachment: fixed, scroll;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
  background-size: 100%;
  margin-bottom: 100px;
}

.aspect-ratio img {
  width: 100%;
  object-fit: cover;
}

.aspect-ratio {
  position: relative;
}

.list-banner {
  display: flex;
}

.banner-frist {
  margin-bottom: 65px;
}

.aspect-ratio .image--cap p:hover {
  text-decoration: none;
}

.banner:hover .image-cap {
  opacity: 1;
  visibility: visible;
}

.banner-frist:hover .image-cap {
  opacity: 1;
  visibility: visible;
}

.coll-banner-l {
  padding-right: 46px;
}

.coll-banner-r {
  padding-left: 46px;
}

.section-barcode {
  padding-bottom: 15px;
}

.section-banner {
  margin-bottom: 100px;
}

.section-banner .banner {
}

.section-banner .banner .aspect-ratio {
}

.section-bg-scroll-two {
  background-image: url(https://file.hstatic.net/200000377411/file/thiet_ke_chua_co_ten__2__764f826266cf416ebf530c195e7f3fac.png);
  padding: 100px 0;
  background-attachment: fixed, scroll;
  background-repeat: no-repeat;
  background-position: center;
}

.coll-banner-left {
  padding-right: 46px;
}

.coll-banner-right {
  padding-left: 46px;
}

.image-cap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  overflow: hidden;
}

.image-cap p:hover {
  text-decoration: none;
}

.product-loop-image > a:not(.no-hover):hover > picture:last-child {
  display: none;
}

.product-loop-image > a:not(.no-hover):hover > picture:first-child {
  display: block;
}

.product-click-options {
  opacity: 0;
  overflow: hidden;
}

.product-loop:hover .product-click-options {
  opacity: 1;
  visibility: visible;
}

.product-loop .product-click-options .quickview {
  background: #edb6ab;
  color: #fff;
}

.product-loop .product-click-options .quickview:hover {
  color: #fff;
  background: #616087;
}

.product-loop .product-click-options a {
  color: #616087;
  text-decoration: none;
}

.product-loop-image > a > picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-loop .product-loop-image a {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.product-loop-image {
  position: relative;
}

.product-loop {
  margin-bottom: 50px;
}

.product-loop .product-click-options a:hover {
  color: #fff;
  background: #616087;
}

svg {
  width: 30px;
  height: 30px;
}

.slick-next.slick-arrow {
  position: relative;
  border: none;
  background: transparent;
  top: 4rem;
  left: 5rem;
}

.slick-prev.slick-arrow {
  position: relative;
  top: 506px;
  left: 1%;
  border: none;
  background: transparent;
}

.swiper-container {
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section-collection .s-title h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 20px;
  border: 3px solid #edb6ab;
  display: inline-block;
}

.section-collection {
  margin-bottom: 70px;
}

.section-collection .s-title h2 a {
  color: #edb6ab;
  text-decoration: none;
}

.font-weight-bold {
  font-size: 14px;
}

.font-weight-bold a:hover {
  text-decoration: none;
}

.font-weight-bold a {
  color: #616087;
}

.product-loop-detail {
  text-align: center;
  margin-top: 15px;
}

.product-loop-detail h3.font-weight-bold {
  margin: 0;
  font-size: 14px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.product-loop-price {
  color: #616087;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.slick-slide img {
  display: block;
  width: 100%;
}

.list-banner .banner {
  padding-bottom: 3rem;
}

.banner .image--cap {
  position: absolute;
}

.product-loop .product-click-options {
  border: 2px solid #edb6ab;
  background: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  width: max-content;
  border-radius: 10px;
  position: absolute;
  top: 0;
  overflow: hidden;
  text-align: center;
}

.layout-collection .sidebar-collection .sidebar-menu {
  position: sticky;
  top: 114px;
  margin-bottom: 30px;
}

.layout-collection .sidebar-collection .sidebar-menu > li {
  margin-bottom: 10px;
}

.layout-collection {
  padding-top: 30px;
}

.layout-collection .sidebar-collection .sidebar-menu > li > a {
  font-size: 18px;
  font-weight: 700;
}

.sidebar-collection {
  flex: 0 0 15%;
  max-width: 15%;
  background: #fbf7f0;
}

.content-collection {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.product-loop-detail .sale-label {
  position: absolute;
  top: 240px;
  right: 15px;
  width: 80px;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  font-weight: 700;
  background: url(https://file.hstatic.net/200000377411/file/voucher_16c6b58dc17e46e097ed22434db2a324.png)
    center/cover;
  background-size: 125%;
}

/* cart */

.wrapper-mainCart .media-line-item {
  display: flex;
  padding: 15px 0;
}

.wrapper-mainCart .media-line-item.line-head {
  padding: 5px 0;
  border: 2px solid #000;
  font-weight: bold;
  font-size: 16px;
}

.wrapper-mainCart .media-line-item .media-title {
  width: 62%;
  padding-right: 50px;
  display: flex;
}

.wrapper-mainCart .media-line-item .media-title .item-remove a {
  display: block;
  width: 25px;
  height: 25px;
}

.wrapper-mainCart .media-line-item .media-title .item-remove {
  position: absolute;
  margin-top: calc(6% - 13px);
  right: 20px;
}

.wrapper-mainCart .media-line-item.line-head .item-total-price {
  padding-right: 3%;
}

.wrapper-mainCart .media-line-item .item-total-price {
  text-align: right;
  flex: 1;
}

.wrapper-mainCart .order-summary-block {
  margin-bottom: 20px;
  padding-left: 55px;
}

.wrapper-mainCart .media-line-item .item-info {
  margin-bottom: 10px;
  padding-top: 10%;
}

.wrapper-mainCart .media-line-item .item-info .item--title {
  font-size: 15px;
  margin: 0px 0 2px;
  font-weight: 700;
}

.wrapper-mainCart .order-noted-block textarea {
  border: 2px solid #616087;
  border-radius: 0;
  padding: 10px 15px;
  width: 100% !important;
  height: 80px;
  min-height: 80px;
  max-width: 100%;
  resize: auto;
  box-shadow: none;
}

.wrapper-mainCart .header-page h1 {
  margin-bottom: 50px;
  font-weight: bold;
  color: #616087;
}

.media-title,
.item-qty,
.item-total-price {
  color: #616087;
}

.order-summary-block h4 {
  font-weight: 700;
}

.wrapper-mainCart .order-summary-block .summary-total span {
  font-weight: 700;
  font-size: 30px;
}

.wrapper-mainCart .order-summary-block .summary-action .checkout-btn {
  display: inline-block;
  background: transparent;
  border: 3px solid #f4b7ba;
  border-radius: 30px;
  font-size: 24px;
  padding: 4px 15px;
  color: #616087;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-top: 12px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.wrapper-mainCart .order-summary-block .summary-action a.button {
  display: inline-block;
  background: transparent;
  border: 3px solid #f4b7ba;
  border-radius: 30px;
  font-size: 24px;
  padding: 4px 15px;
  color: #616087;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-top: 40px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.mainCart-sidebar .summary-total span {
  color: #616087;
}

.media-line-item .item--title a {
  color: #616087;
}

.mainCart-detail {
  padding-right: 55px;
}

.wrapper-mainCart .media-line-item .item-total-price .line-item-total {
  font-size: 15px;
  font-weight: 600;
}

.wrapper-mainCart .media-line-item .item-qty .quantity-partent {
  width: 100%;
  border: 1px solid #616087;
  margin-bottom: 10px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-justify-content: center;
  justify-content: center;
}

.wrapper-mainCart .media-line-item .item-qty .quantity-partent button {
  float: left;
  font-weight: 700;
  font-size: 22px;
  padding: 0;
  color: #616087;
  min-height: 18px;
  line-height: 20px;
  width: 28px;
  text-align: center;
  background: transparent;
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.wrapper-mainCart .media-line-item.line-item .item-total-price {
  display: flex;
  justify-content: space-between;
  padding-top: 6%;
}

.wrapper-mainCart .media-line-item .item-qty .quantity-partent input {
  float: left;
  font-weight: 700;
  font-size: 18px;
  color: #616087;
  padding: 3px 0 0 0;
  width: 36px;
  min-height: 18px;
  background: transparent;
  text-align: center;
  outline: none;
  border: none;
  margin: 0 3px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.line-item-hr {
  height: 3px;
  width: calc(100% - 100px);
  margin-left: 50px;
  background: #616087;
}

/* footer-main */

.footer-title {
  color: #4b4e53;
  font-weight: 700;
}

.footer-main {
  margin-top: 20px;
  background: #fbf7f0;
  color: #4b4e53;
}

.footer-top {
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #616087;
  border-bottom: 2px solid #616087;
  margin-bottom: 50px;
}

.footer-content {
  margin-bottom: 30px;
}

.social-list li a i {
  font-size: 14px;
}

.social-list {
  display: flex;
}

.item-fade-box {
  padding-right: 10px;
}

.input-email {
  height: 30px;
  border: 2px solid #000;
  width: calc(100% - 170px);
}

.button-dark {
  position: absolute;
  right: 20%;
  padding: 5px 20px;
  height: 30px;
  background: #000;
  color: #fff;
  border: 1px solid #000;
}

.footer-menu li a {
  text-decoration: none;
  color: #4b4e53;
  padding-bottom: 25px;
  display: block;
  font-size: 14px;
  font-weight: 700;
}

.footer-menu {
  position: absolute;
  left: 40%;
}

.copyright a {
  color: #000;
  font-weight: 700;
}

.copyright {
  font-weight: 700;
}

.copyright a:hover {
  text-decoration: none;
  color: #000;
}

.address-list {
  font-weight: 700;
}

.hotline {
  font-weight: 700;
  text-decoration: none;
  color: #4b4e53;
}

.hotline a {
  font-weight: 700;
  text-decoration: none;
  color: #4b4e53;
}

.hotline a:hover {
  text-decoration: none;
}

.address-list li b {
  font-weight: 900;
}

.container h2 q {
  color: #edb6ab;
  font-size: 24px;
}

.item-fade-box a i {
  font-size: 14px;
}

.footer-content .social-list .item-fade-box a {
  display: block;
  padding: 8px;
  overflow: hidden;
  border-radius: 10px;
  background: #000;
}

/* Responsive */

/* Desktop */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 740px) {
  .header-main {
    padding: 0;
  }
  .coll-banner-left,
  .coll-banner-l {
    padding-right: 10px;
  }

  .coll-banner-right,
  .coll-banner-r {
    padding-left: 10px;
  }

  .banner-frist {
    margin-bottom: 30px;
  }

  .header-top-bar {
    display: flex;
    flex-direction: column;
  }

  .header-top-nav ul li {
    padding: 15px 0;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon i {
    font-size: 20px;
  }

  .header-list-lv1 li a {
    padding-right: 2rem;
  }
  .header-top-nav ul li {
    margin-right: 10px;
  }

  .header-main-right {
    width: 100%;
    padding: 0;
  }

  .header-sidebar-left {
    display: none;
  }

  .header-main-mid img {
    display: none;
  }
  .header-main-left {
    padding-bottom: 1rem;
    width: 100%;
  }

  .header-main-left img {
    width: 100%;
  }

  .header-bot-nav {
    width: 100%;
    white-space: nowrap;
    padding: 0;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0;
    font-size: 15px;
  }

  .section-barcode .banner img {
    width: 100%;
    height: 100%;
    position: relative;
    right: 0;
  }

  i.arrow {
    display: none;
  }

  .section-bg-scroll {
    background-attachment: inherit;
    background-size: cover;
  }

  .w-70 {
    width: 100%;
  }

  .section-bg-scroll-two {
    width: 100%;
    background-attachment: inherit;
    background-size: cover;
  }

  .section-collection .s-content {
    margin: 0;
  }

  .footer-menu {
    display: none;
  }

  .slick-prev.slick-arrow {
    top: 254px;
  }
  .slick-next.slick-arrow {
    top: 4rem;
  }

  .sidebar-collection {
    display: none;
  }

  .content-product-list {
    font-size: 5;
  }

  .wrapper-mainCart .media-line-item.line-head {
    display: none;
  }

  .wrapper-mainCart .cart-row {
    width: 100%;
    display: inline-block;
  }

  .mainCart-detail {
    padding: 0;
  }

  .item-remove {
  }

  .wrapper-mainCart .media-line-item.line-item .item-total-price {
    display: block;
  }
}
